/*!
    Assignment 1: Recipe
    Author: Muhammad Iman Zulhakim Bin Mohd Zulkhori
    Matric No.: 288430

    File: recipe.css
    Description: This is the css file for pie.html.
*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.heading {
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration-line: underline;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 22pt;
    letter-spacing: 0.25em;
    display: inline-block;
}

body {
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, sans-serif;
    background-image: url('../images/silverware.jpg');
    background-repeat: repeat; /* repeat both horizontally and vertically */
    background-attachment: fixed; /* fix the background image when scrolling */
    background-size: cover;
    background-color: #404040;
}

ul {
    list-style-image: url('../images/pie_bullet.png');
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text*/
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when hover over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

div.a {
    margin-left: 30px;
    background-color: #FFFFA8;
}

a.link {
    color: #A4A400;
}