<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Grandma's Lemon Meringue Pie</title>
    <link rel="icon" type="image/x-icon" href="../static/images/pie-icon.png">
    <link rel="stylesheet" href="../static/css/recipe.css">
</head>

<!--
    Assignment 1: Recipe
    Author: Muhammad Iman Zulhakim Bin Mohd Zulkhori
    Matric No.: 288430

    File name: pie.html
    Description: This is a Recipe page for Grandma's Lemon Meringue Pie which contains
    information about the pie's Ingredients, Directions on how to make the pie, User comments of
    the pie and also Links to search for other lemon meringue pie recipes as well as links to
    homepage.

    Extra Features Completed:
       1. Background: Set the overall page to use a background image of: silverware.jpg
          The image repeats in both directions across the page and does not move when scrolled.

       2. Favicon: Set the page to have a "favorites icon" ("favicon"). Use: pie-icon.png
          Favicons may not work in Internet Explorer; you may ignore this.

       3. Pie bullet: Set all bulleted lists of items on the page to use an image for their
          bullet icon.
          Use the following image: pie_bullet.png

       4. Wide headings: Place 0.25em horizontal spacing between neighboring letters in all
          headings on the page.

       5. Tight heading background: The gray background behind the headings is only behind the text
          itself, not stretched across the entire width of the page.
          (Looks nice with extra feature #1.)
-->

<!-- Body -->
<body>
<div>
    <!-- Title of Webpage -->
    <h1 class="heading" style="text-align: center">Grandma's Lemon Meringue Pie</h1>
    <br>
    <img alt="Pie" src="../static/images/pie.jpg">
    <!-- pie.jpg is stored in static/images folder -->

    <br>
    One 9-inch pie<br>
    30 Min - Prep time<br>
    10 Min - Cook time<br>
    40 Min - Total<br>
    8 Servings<br>
    <hr>

    <!-- This part contain the code for INGREDIENTS of the pie recipe-->
    <h2 class="heading">INGREDIENTS</h2>
    <ul>
        <li>1 cup white sugar</li>
        <li>2 <span class="tooltip"><u>tbsp</u>
                <span class="tooltiptext">tablespoons</span>
              </span> all-purpose flour
        </li>
        <li>3 <span class="tooltip"><u>tbsp</u>
                <span class="tooltiptext">tablespoons</span>
              </span> cornstarch
        </li>
        <li>1/4 <span class="tooltip"><u>tsp</u>
                 <span class="tooltiptext">teaspoons</span>
                </span> salt
        </li>
        <li>1 1/2 cups water</li>
        <li>2 lemons, juiced and zested</li>
        <li>2 <span class="tooltip"><u>tbsp</u>
                <span class="tooltiptext">tablespoons</span>
              </span> butter
        </li>
        <li>4 egg yolks, beaten</li>
        <li>1 (9 inch) pie crust, baked</li>
        <li>4 egg whites</li>
        <li>6 <span class="tooltip"><u>tbsp</u>
                <span class="tooltiptext">tablespoons</span>
              </span> white sugar
        </li>
    </ul>

    <hr>

    <!-- This part contain the code for DIRECTIONS of the pie recipe-->
    <h2 class="heading">DIRECTIONS</h2>
    <ol>
        <li><strong>Preheat Oven</strong>: Preheat oven to 350 degrees F (175 degrees C).</li>
        <li><strong>Make Lemon Filling</strong>: In a medium saucepan ...
            <ul>
                <li>Whisk together 1 cup sugar, flour, cornstarch, and salt.</li>
                <li>Stir in water, lemon juice and lemon zest.</li>
                <li>Cook over medium-high heat, stirring frequently, until mixture comes to a
                    boil.
                </li>
                <li>Stir in butter.</li>
                <li>Place egg yolks in a small bowl and gradually whisk in 1/2 cup of hot sugar
                    mixture.
                </li>
                <li>Whisk egg yolk mixture back into remaining sugar mixture.</li>
                <li>Bring to a boil and continue to cook while stirring constantly until thick.</li>
                <li>Remove from heat.</li>
                <li>Pour filling into baked pastry shell.</li>
            </ul>
        </li>

        <li><strong>Make Meringue</strong>: In a large glass or metal bowl ...
            <ul>
                <li>Whip egg whites until foamy.</li>
                <li>Add sugar gradually, and continue to whip until stiff peaks form.</li>
                <li>Spread meringue over pie, sealing the edges at the crust.</li>
            </ul>
        </li>

        <li><strong>Bake</strong>: Bake in preheated oven for 10 minutes, or until meringue is
            golden brown.
        </li>
    </ol>

    <p>This is our favorite recipe here at Granny's Pies. It has been enjoyed by pie fans for many
        years.
        It's Granny's favorite! We hope you'll find that this recipe is delicious and also easy to
        follow;
        it's a piece of <s>cake</s> pie!
    </p>

    <hr>

    <!-- This part contain the code for USER COMMENTS of the pie recipe-->
    <h2 class="heading">USER COMMENTS</h2>
    <div class="a">
        <i>
            This is a very fun recipe to follow, because Grandma makes it sweet and simple.
            This pie is thickened with cornstarch and flour in addition to egg yolks, and contains
            no milk.
            <br><br>
            - Emilie S.
        </i>
    </div>

    <br>
    <div class="a">
        <i>
            Q: What do you call an ape who loves pie?<br>
            A: A meringue-utan.
            <br><br>
            - Vickie K.
        </i>

    </div>

    <br>

    <div class="a">
        <i>
            This site can really <strong>engage</strong> my interest.
            Follow the recipe above and <strong>make it so</strong>! This pie is <strong>number
            one</strong>.
            <br><br>
            - Jean-Luc Piecard
        </i>
    </div>

    <!-- This part contain the code for LINKS for more pie recipes and link to homepage-->
    <h2 class="heading">LINKS</h2>
    <br>
    <a class="link" href="https://www.google.com/search?q=lemon+meringue+pie+recipe&start=10">Search
        for other lemon
        meringue pie recipes</a>
    <br>
    <a class="link" href="/">Home</a>

    <br>

    <!-- This part contain the code for pre-formatted text for copyright-->
    <pre>
        Copyright @ 2022 Granny's Pies
            A Granny's Pies Production
                   All rights reserved
    </pre>

    <!-- This part contain the code for validation of css and html-->
    <!-- Disclaimer: It didn't work and this error is shown
     Sorry, the IP address 127.0.0.1 is not public. For security reasons, validating resources
     located at non-public IP addresses has been disabled in this service.-->

    <!-- To validate user need to self upload the file into the validator-->

    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
             src="https://jigsaw.w3.org/css-validator/images/vcss"
             alt="Valid CSS!">
    </a>


    <a href="https://validator.w3.org/check/referer" target="_blank">
        <img src="../static/images/w3c-html.png" class="left" alt="Validate HTML">
    </a>

</div>
</body>
</html>